@model web.Models.Order
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Check</h2>
<div>
    <h4> Hoa Don</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiShip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiShip)
        </dd>
</div>
<p>
    <a class="btn btn-success" href=@Url.Action("Index","Home")>Trang chủ</a>
</p>

